body
  .home
    background: #f7f7f9;
    padding-top: 20px;
    width 900px
    margin 0 100px 100px 100px
    .header
      display flex;
      align-items center;
      .jira-tag
          line-height unset;
      .logo
        width 4rem
        margin-right 20px
        display inline
  .viewConent
    margin auto 50px;

  .flex-box
    flex-direction row
    display flex
    justify-content space-between
    align-items flex-start

  .search-form
    .input-group
      margin-right: 20px;
    div
      margin-top: 15px;
      margin-bottom: 15px;
    button.submit
      margin: 0px 1px;
  .sprint-list
    max-height 200px
    overflow scroll
    cursor pointer
  .no-outline
    outline: unset;
  .sprint-list-content
    margin: 20px 0;